%no-margin {
  margin: 0;
}

%no-padding {
  padding: 0;
}

%list {
  @extend %no-margin;
  @extend %no-padding;
  padding: 0;
  list-style: none;
}

%no-underline {
  text-decoration: none;
}

%mb-hidden {
  @media (min-width: 320px) and (max-width: 1109px) {
    display: none;
  }
}

%dt-hidden {
  @media (min-width: 1110px) {
    display: none;
  }
}

%flex {
  display: flex;
}
