$grey-color: #f6f6f6;
$dark-grey-color: #c4c4c4;
$light-grey-color: #ebebeb;
$black-color: #000;
$accent-black-color: #101112;
$light-black-color: #292929;
$white-color: #fff;
$green-color: #00e9bf;
$blue-accent-color: #009dd2;
$light-blue-color: #1b9aff;
$dark-blue-color: #005a7a;
$divider-color: #ededed;
$row-accent-color: #f0fbff;
$middle-black-color: #2b2d31;
